body {
}

div {
    text-align: left;
}

img.flame{
    width: 30%;
    height: 10%;
}

img.icon {
    width: 70px;
}

img.programming_language{
    width: 30px;
    height: 25px;
    vertical-align:top;
}

img.banner {
    width: 450px;
    height: 100px;
}

img.profile {
    width: 200px;
    height: 250px;
    position: absolute;
    left: 500px;
}

li {
    text-indent:1em;
    }
a {
    margin-left:1em;
  }

header {
    background-color: rgb(10,10,10);
    height: 70px;
    width: 100%;
    color: rgb(255,255,255);
}

header p{
    text-align: center;
}
footer {
    background-color: rgb(10,10,10);
    height: 70px;
    width: 100%;
    color: rgb(255,255,255);
}

footer p{
    text-align: center;
}
